/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@use '@angular/material' as mat;
@use './app/components/home/home.component-theme' as home;

@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$deep-purple-palette),
   accent: mat.define-palette(mat.$lime-palette)
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$deep-purple-palette),
   accent: mat.define-palette(mat.$lime-palette),
 ),
));

// Apply the dark theme by default
//@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 @include mat.core-color($light-theme);
 @include mat.all-component-colors($light-theme);
}

@include home.theme($dark-theme);

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
